In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

tabular_path = '/storage/bigdata/CHA_bigdata/scripts_IMP/CHA_tabular_data/'

In [2]:
os.listdir(tabular_path)

['missing',
 '2021년 목록(최종) - 총 72개, 4개 missing.xlsx',
 '2019년 목록(최종) - 총 117개, 12개 missing.xlsx',
 '2011년 목록(최종) - 총 249개, 163개 missing.xlsx',
 '이전에 보내드린 영상들 관련된 수정사항.txt',
 '2018년 목록(최종) - 총 135개, 35개 missing.xlsx',
 '2010년 목록(최종) - 총 247개, 185개 missing.xlsx',
 '2015년 목록(최종) - 총 244개, 53개 missing.xlsx',
 '2020년 목록(최종) - 총 84개, 6개 missing.xlsx',
 '2012년 목록(최종) - 총 189개, 120개 missing.xlsx',
 '2014년 목록(최종) - 총 238개, 58개 missing.xlsx',
 '2017년 목록(최종) - 총 149개, 22개 missing.xlsx',
 '2016년 목록(최종) - 총 238개, 52개 missing.xlsx',
 '2013년 목록(최종) - 총 242개, 145개 missing.xlsx']

## Step1 : age 를 계산하는 (and removing NaN) 것을 만들기 
(밑에 : 예시로 2021만 함.. 나머지는 .py해서 돌리던지 하기)

In [3]:
file = pd.read_excel(tabular_path+'2021년 목록(최종) - 총 72개, 4개 missing.xlsx')
print(file.shape) #file name은 위의 os.listdir결과들 쓰기
file.head()

(14122, 16)

,파일 유무,영상파일 번호,환자 번호,sex,Date of birth,진단명,MRI 검사 병원,MRI(DTI) 시행 날짜,MRI,DTI,MRI(DTI) 판독,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,ㅇ,ㅇ,1,M,2017-11-15,Delayed milestone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,M,2017-11-15,Delayed milestone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,O,2021-C0001,1,M,2017-11-15,Delayed milestone,본원,2021-01-05 00:00:00,1,1,Within normal limit. The possibility of mucopo...,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,M,2017-11-15,Delayed milestone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2,M,2020-05-11,"Torticollis, Delayed milestone",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
##remove 파일 NaN
file = file.dropna(subset=['파일 유무'])  #excel에서 원래 hiding함
            #==O를 쓰지 않은 이유 : o을 쓴 경우도 있어서 ㅋㅋㅋ

##remove 파일유무 = X 
#일단 이거는 생략 (MRI 둘다 없는 아이들 따로 하니) => DTI없는 아이들한테 freesurfer만 해야할 수도 있으니 살려둠

##get age
mri_date = file['MRI(DTI) 시행 날짜']
birth_date = file['Date of birth']
#change age to pandas dtype : datetime64 (to get change in dates to get age)
mri_date = pd.to_datetime(mri_date)
birth_date = pd.to_datetime(birth_date)

age_days = mri_date - birth_date #age in days
age_years = age_days/np.timedelta64(1, 'Y')


##append age_years to the dataset
file['age'] = age_years

file.head() #for checxking

,파일 유무,영상파일 번호,환자 번호,sex,Date of birth,진단명,MRI 검사 병원,MRI(DTI) 시행 날짜,MRI,DTI,MRI(DTI) 판독,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,age
0,ㅇ,ㅇ,1,M,2017-11-15,Delayed milestone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,O,2021-C0001,1,M,2017-11-15,Delayed milestone,본원,2021-01-05 00:00:00,1,1,Within normal limit. The possibility of mucopo...,NaN,NaN,NaN,NaN,NaN,3.140379
7,O,2021-C0002,2,M,2020-05-11,"Torticollis, Delayed milestone",본원,2021-01-21 00:00:00,1,1,Within normal limit,NaN,NaN,NaN,NaN,NaN,0.698166
14,O,2021-C0003,3,M,2016-11-08,Delayed milestone,본원,2021-01-25 00:00:00,1,1,Within normal limit. Possibility of mucopolysa...,NaN,NaN,NaN,NaN,NaN,4.213639
19,O,2021-C0004,4,M,2013-11-17,"Delayed milestone, Pervasive developmental dis...",본원,2021-02-01 00:00:00,1,1,Within normal limit,NaN,NaN,NaN,NaN,NaN,7.208909

## Step2 : age 4.5기준으로 나누기

In [11]:
#plt.hist(file['age(y)'], bins=10) #age 분포 보기
infant_mask = file['age'] < 4.5
adult_mask = file['age'] >=4.5
##pediatric 써야하면 조금 수정을 가해야할수도
##일단은 이렇게 까지 해놨으니 될듯

## 실제로 missing file 뽑고 하는 것
CLI, .sh 등등 => 이것들도 모두 여기다가 해서 notebook처럼 보기 쉽게 하기!