In [218]:
import os 
import numpy as np 
import pandas as pd
#from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from matplotlib import pyplot as plt
#from imblearn.under_sampling import RandomUnderSampler
from sklearn.datasets import make_classification
import re
import json

In [223]:
#============================ Change direc if needed ================================#
directory = '/scratch/connectome/dyhan316/VAE_ADHD/junbeom_finetuning/finetune_results_TRASH/'

In [236]:
file_list = os.listdir(directory) 
file_name = file_list[:]
file_name

['ADNI_age-freeze-reg',
 'test-freeze-cls',
 'ADNI_ALZ_ADMCI-freeze-cls',
 'ADNI_ALZ_ADCN-tune_all-cls',
 'ADNI_ALZ_ADCN-freeze-cls']

In [238]:
add_lv1 = directory+file_name[3]
add_1_list = os.listdir(add_lv1) 
print(add_1_list[0])
# dataframe에 단계 지날 때마다 저장하기
T = []
Taskname = add_1_list[0]
T.append(Taskname)

resnet50_200-train_10

In [239]:
add_lv2 = add_lv1+'/'+add_1_list[0]
add_2_list = os.listdir(add_lv2) 
add_2_list[0]
print(add_2_list[0])
# dataframe에 단계 지날 때마다 저장하기
P=[]
param = add_2_list[0]
P.append(param)

batch_8-lr_0.001-wd_5e-05-tf_cutout

In [240]:
add_lv3 = add_lv2+'/'+add_2_list[0]
add_3_list = os.listdir(add_lv3) 
add_3_list.sort()
print(add_3_list[0])
# dataframe에 단계 지날 때마다 저장하기
S=[]
seed = add_3_list[0]
S.append(seed)

seed_0

In [241]:
add_lv4

'/scratch/connectome/dyhan316/VAE_ADHD/junbeom_finetuning/finetune_results_yAware_hyperparam_tuning/ADNI_age-freeze/ABCDbt128a102-train_200/batch_8-lr_0.0001-wd_5e-05-tf_cutout/seed_0'

In [242]:
#dem 생성 
dem = pd.DataFrame({'Taskname':T, 'param':P, 'seed':S})
dem

                Taskname                                param    seed
0  resnet50_200-train_10  batch_8-lr_0.001-wd_5e-05-tf_cutout  seed_0

In [243]:
add_lv4 = add_lv3+'/'+seed+'/'
add_4_list = os.listdir(add_lv4)
add_4_list

['ROC_figure.png', 'eval_stats.txt', 'resnet50_200_t_10_model.pt', 'stats.txt']

In [244]:
eval_stats = pd.read_csv(add_lv4+'/eval_stats.txt', header = None,sep = "\t")
eval_stats

                                                   0
0  {"mode": 1, "nb_epochs_per_saving": 10, "pin_m...
1  {"epoch": 44, "training_loss": 0.6882977724075...
2  {"test_loss": 0.6833608688007702, "test_acc": ...
3                 {"MEAN_auroc": 0.7344793388429751}
4                         {"AD": 0.7344793388429751}
5                         {"CN": 0.7344793388429751}

In [160]:
# line 0처리
line_0 = json.loads(eval_stats.iloc[0][0])
input_size_val = line_0.get('input_size')
line_0.update(input_size = str(input_size_val))
line_00 = []
line_00.append(line_0)
line_0_df= pd.DataFrame(line_00)
line_0_df

,mode,nb_epochs_per_saving,pin_mem,num_cpu_workers,nb_epochs,cuda,task,tf,model,patience,...,task_type,label_name,num_classes,task_name,batch_size,lr,weight_decay,resize_method,input_size,random_seed
0,1,10,True,2,100,True,ADNI_age,cutout,DenseNet,20,...,reg,PTAGE,1,AGE,8,0.0001,0.00005,None,"[1, 99, 117, 95]",0

In [161]:
#line_1처리
line_1 = json.loads(eval_stats.iloc[1][0])
line_11 = []
line_11.append(line_1)
line_1_df = pd.DataFrame(line_11)
line_1_df

   epoch  training_loss  training_acc   val_loss  val_acc
0     99    4175.785742           0.0  3541.4375      0.0

In [163]:
#line_2처리
line_2 = json.loads(eval_stats.iloc[2][0])
line_22 = []
line_22.append(line_2)
line_2_df = pd.DataFrame(line_22)
line_2_df

     test_loss
0  4410.060885

In [245]:
#line_3처리
line_3 = json.loads(eval_stats.iloc[3][0])
line_33 = []
line_33.append(line_3)
line_3_df = pd.DataFrame(line_33)
line_3_df

   MEAN_auroc
0    0.734479

In [251]:
#line_4처리
line_4 = json.loads(eval_stats.iloc[4][0])
line_44 = []
line_44.append(line_4)
line_4_df = pd.DataFrame(line_44)
oriname = line_4_df.columns.tolist()
line_4_df.rename(columns = {oriname[0]:"var1"}, inplace = True)
line_4_df

       var1
0  0.734479

In [252]:
#line_4처리
line_5 = json.loads(eval_stats.iloc[5][0])
line_55 = []
line_55.append(line_5)
line_5_df = pd.DataFrame(line_55)
oriname = line_5_df.columns.tolist()
line_5_df.rename(columns = {oriname[0]:"var2"}, inplace = True)
line_5_df

       var2
0  0.734479

In [253]:
# line0~2 concat  & basic_dem
final = pd.concat([dem,line_0_df],axis=1)
final = pd.concat([final,line_1_df],axis=1)
final = pd.concat([final,line_2_df],axis=1)
final = pd.concat([final,line_3_df],axis=1)
final = pd.concat([final,line_4_df],axis=1)
final = pd.concat([final,line_5_df],axis=1)
final

,Taskname,param,seed,mode,nb_epochs_per_saving,pin_mem,num_cpu_workers,nb_epochs,cuda,task,...,random_seed,epoch,training_loss,training_acc,val_loss,val_acc,test_loss,MEAN_auroc,var1,var2
0,resnet50_200-train_10,batch_8-lr_0.001-wd_5e-05-tf_cutout,seed_0,1,10,True,2,100,True,ADNI_age,...,0,99,4175.785742,0.0,3541.4375,0.0,4410.060885,0.734479,0.734479,0.734479

In [255]:
final.columns.tolist()

['Taskname',
 'param',
 'seed',
 'mode',
 'nb_epochs_per_saving',
 'pin_mem',
 'num_cpu_workers',
 'nb_epochs',
 'cuda',
 'task',
 'tf',
 'model',
 'patience',
 'valid_ratio',
 'data',
 'label',
 'task_type',
 'label_name',
 'num_classes',
 'task_name',
 'batch_size',
 'lr',
 'weight_decay',
 'resize_method',
 'input_size',
 'random_seed',
 'epoch',
 'training_loss',
 'training_acc',
 'val_loss',
 'val_acc',
 'test_loss',
 'MEAN_auroc',
 'var1',
 'var2']

In [216]:
a = final.loc[0].tolist()
a

['ABCDbt128a102-train_10',
 'batch_8-lr_0.0001-wd_5e-05-tf_cutout',
 'seed_0',
 1,
 10,
 True,
 2,
 100,
 True,
 'ADNI_age',
 'cutout',
 'DenseNet',
 20,
 0.25,
 '/scratch/connectome/study_group/VAE_ADHD/data',
 './csv/fsdat_baseline.csv',
 'reg',
 'PTAGE',
 1,
 'AGE',
 8,
 0.0001,
 5e-05,
 None,
 '[1, 99, 117, 95]',
 0,
 99,
 4175.7857421875,
 0.0,
 3541.4375,
 0.0,
 4410.060884863553]

In [ ]:
/scratch/connectome/dyhan316/VAE_ADHD/junbeom_finetuning/finetune_results_yAware_hyperparam_tuning/ADNI_age-freeze/ABCDbt128a102-train_200/batch_8-lr_0.0001-wd_5e-05-tf_cutout/seed_0/eval_stats.txt

In [210]:
diry = "/scratch/connectome/dyhan316/VAE_ADHD/junbeom_finetuning/finetune_results_yAware_hyperparam_tuning/ADNI_age-freeze/ABCDbt128a102-train_200/batch_8-lr_0.0001-wd_5e-05-tf_cutout/seed_0"

In [211]:
add_lv4 =diry
add_4_list = os.listdir(diry)
add_4_list


eval_stats = pd.read_csv(add_lv4 +'/eval_stats.txt', header = None,sep = "\t")
eval_stats

EmptyDataError: No columns to parse from file

In [209]:
print(add_lv4+'/eval_stats.txt')
print('/scratch/connectome/dyhan316/VAE_ADHD/junbeom_finetuning/finetune_results_yAware_hyperparam_tuning/ADNI_age-freeze/ABCDbt128a102-train_200/batch_8-lr_0.0001-wd_5e-05-tf_cutout/seed_0/eval_stats.txt')

/scratch/connectome/dyhan316/VAE_ADHD/junbeom_finetuning/finetune_results_yAware_hyperparam_tuning/ABCD_sex-freeze/ABCDbt128a102-train_200/batch_8-lr_0.01-wd_5e-05-tf_cutout/seed_0/eval_stats.txt
/scratch/connectome/dyhan316/VAE_ADHD/junbeom_finetuning/finetune_results_yAware_hyperparam_tuning/ADNI_age-freeze/ABCDbt128a102-train_200/batch_8-lr_0.0001-wd_5e-05-tf_cutout/seed_0/eval_stats.txt

SyntaxError: invalid syntax (3038562098.py, line 1)